html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-size-adjust: 100%;
    padding: 8px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}


h1 {
    font-size: 27px;
    font-weight: 450;
}

h2 {
    font-size: 24px;
    font-weight: 450;
}

h3 {
    font-size: 20px;
    font-weight: 450;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    color: #24292e;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
}


a.casual {
    text-decoration: none;
    color: inherit;
}
a.casual:hover {
    text-decoration: underline;
}

a.casual-underlined {
    color: inherit;
}






/*
Site Header
*/


.site-header {
    margin-bottom: 2%;
}

.site-header-content {
    border-bottom: 1px solid gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-header-content p {
    font-size: 1.1em;
}

.site-header-left {
    font-weight: 500;
    font-size: 18px;
}

.site-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-header-right-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.site-header-right-links > .site-header-link:not(:first-child) {
    margin-left: 15px;
}


/* @media screen and (max-width: 400) {
    .site-header-right-links > .site-header-link:not(:first-child) {
        margin-left: 10px;
    }
} */

@media screen and (max-width: 400px) {
    .site-header-right-links > .site-header-link:not(:first-child) {
        margin-left: 10px;
    }
}



.site-footer {
    border-top: 1px solid lightgray;
    text-align: center;
}




/*
Markdown Styling
*/


.markdown-body h1,
.markdown-body h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid lightgray;
    /* #eaecef; */
}

.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-bottom: 10px;
}



/* todo add more */
.markdown-body blockquote, .markdown-body table {
    margin-top: 0;
    margin-bottom: 16px;
}


/* blockquote {
    margin: 0;
} */

.markdown-body blockquote {
    margin: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}




.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdown-body table th {
    font-weight: 600;
}

.markdown-body table th, .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

/* .markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
} */
.markdown-body table tr:nth-child(2n) {
    background-color: #f6f8fa;
}







/* spec site */

.markdown-body h1[sectionId],
.markdown-body h2[sectionId],
.markdown-body h3[sectionId],
.markdown-body h4[sectionId],
.markdown-body h5[sectionId],
.markdown-body h6[sectionId] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.markdown-body .section-id {
    font-size: 70%;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
}
.markdown-body .section-id a {
    color: dimgray;
}


.markdown-body .toc-entry.h2:not(:first) {
    /* TODO what is this? */
    margin-top: 5px;
}
.markdown-body .toc-entry.h3 {
    margin-left: 20px;
}
.markdown-body .toc-entry.h4 {
    margin-left: 40px;
}
.markdown-body .toc-entry.h5 {
    margin-left: 60px;
}
.markdown-body .toc-entry.h6 {
    margin-left: 80px;
}
